<div class="burger"><%= image_tag "image.png", :class => "center"%></div>
<div class='category-form'>
<h1>Select a Category<h1>
<%= form_for @choice do |f| %>
  <%= f.label :category_id, "Cuisine" %>
  <%= f.collection_select :category_id, Category.all, :id, :name%>
  <%= f.submit %>
<% end %>