<br>
<br>
<br>


<h1>Sign Up </h1>
<br>
<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <strong style='color: red;'><%= e %></strong>
    <br/><br/>
  <% end %>
<% end %>
<div class ="form-group">
<%= form_with model: @user, url: '/users', method: 'POST' do |f|%>
<%= f.label :username  %>
<%= f.text_field :username, class:"sign-form"%>

<%= f.label :password%>
<%= f.password_field :password, class:"sign-form"%>

<%= f.submit "Sign up!", class:"submit-button"%>
<% end %>
</div>
<br>
<a id="go_back"class="btn btn-secondary btn-lg btn-block" href='/' role="button">Go Back</a>
<div id="signup_logo">
<%= image_tag "lunchlogo.png", :class => "center"%>
</div>