<br>
<br>
<h1><%= @restaurant.name %></h1>
<h4>Average Rating:</h4>
<h2><%=@restaurant.average.round(1)%></h2>
<h3>Reviews:</h3>

<div class="user-review-container">
<% @restaurant.reviews.each do |r|%>
<br>
<h5>Username: </h5>
<h6><%= r.user.username %><h6>
<h5> Rating: </h5>
<h6><%= r.rating %></h6>

<h5> Comment:</h5>
<h6 id="comment-line"><%= r.comment %></h6>
-------------------------------
<br>
<% end %>
</div>