<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <strong style='color: red;'><%= e %></strong>
    <%end%>
    <%end%>
    <br>
<div class="content-container">
<h2>Selection : </h2>



<h3><%= @rest_choice.name %></h3>
<br>


<h3> How was our choice?<h3>
<h2>Leave A Review</h2>
<br>

<div class="review-form">
<%= form_for @review do |f| %>

  <%= f.label :restaurant_id, "Restaurant ID:"%>
  <%=f.number_field :restaurant_id, class: "input-restaurant", :value => "#{@rest_choice.id}", :readonly => true%> 
<br>
<%= f.label :rating, "Rating:"%>
  <%= f.number_field :rating, class: "input-rating"%>
<br>
<%= f.label :comment, "Comment:", class:"comment-label"%>
  <%= f.text_area :comment, class: "input-comment"%>
<br>
  <%= f.submit "Submit",class: "submit-button" %>
<% end %>
</div>
