<!DOCTYPE html>
<html>
  <head>
    <title>WhatsForLunchApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  
  <meta charset= "utf-8">
    <title>Responsive Navbar with Searchbox</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
  <body>
<nav>
    <ul>
      <li class="logo">WhatsForLunch</li>
      
      <div class="items">
      <li><a href="/choices/new">New</a></li>
      <li><%=link_to "Profile", user_path(session[:user_id])%></li>
     

      <li><a href="/">Logout</a></li>
     
    </ul>
  </nav>
  </body>
<!-- Navbar -->




    <main><%= yield %></main>
    <div id="footer"><%= image_tag "lunchlogo.png", class:"little-logo"%></div>
  </body>
</html>
